In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\neal\appdata\local\programs\python\python310\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.21.0 in c:\users\neal\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.21.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\neal\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\neal\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\neal\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

WARNING: You are using pip version 21.3.1; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Users\Neal\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [1]:
import numpy as np
import os 
import pandas as pd

In [2]:
#read of branch list 
region_df = pd.read_excel('Non-branch-data/branch_list.xlsx')
region_df

,region,county,branch_name,established_on
0,East of England,Bedfordshire,Bedfordshire store,2012.0
1,East of England,East Cambridgeshire,East Cambridgeshire outlet,2010.0
2,West Midlands,Warwickshire,Warwickshire branch,2010.0
3,East Midlands,Lincolnshire,Lincolnshire store,2012.0
4,London,Islington,Islington branch,2011.0
...,...,...,...,...
95,South East England,Kent,Kent branch,2010.0
96,South East England,Chiltern,Chiltern store,2010.0
97,East Midlands,South Northamptonshire,South Northamptonshire store,2010.0
98,South West England,West Somerset,West Somerset branch,2011.0
99,Wales,Wrexham,Wrexham store,2012.0

In [3]:
# read of products csv
productslist_df = pd.read_csv('Non-branch-data/products_list.csv')
productslist_df

                           product manufactuter             category  price
0          Fairtrade Bananas Loose   sainsburys   fruits & vegetable   0.79
1            British carrots loose   sainsburys  fruits & vegetables   0.40
2                     Onions Loose   sainsburys  fruits & vegetables   0.85
3    British baking potatoes loose   sainsburys  fruits & vegetables   0.83
4                       Red pepper   sainsburys  fruits & vegetables   0.42
..                             ...          ...                  ...    ...
116                     wristwatch     in-house             clothing  34.00
117                 classic bowtie     in-house             clothing  24.00
118                   grey blazers     in-house             clothing  34.00
119                  grey cardigan     in-house             clothing  20.00
120                   pink blazers     in-house             clothing  50.00

[121 rows x 4 columns]

In [4]:
# read of branch expenses file 
branch_expenses_df = pd.read_excel('Non-branch-data/branch_expenses.xlsx')
branch_expenses_df

,year,month,region,county,branch_name,established_on,operational_cost,staff_bonuses,misc_expenses,waste_cost
0,2012.0,1.0,East of England,Bedfordshire,Bedfordshire store,2012.0,2785.0,232.0,7793.0,4729.0
1,2012.0,2.0,East of England,Bedfordshire,Bedfordshire store,2012.0,2058.0,260.0,3559.0,3539.0
2,2012.0,3.0,East of England,Bedfordshire,Bedfordshire store,2012.0,2222.0,319.0,7320.0,2809.0
3,2012.0,4.0,East of England,Bedfordshire,Bedfordshire store,2012.0,2324.0,271.0,3352.0,3704.0
4,2012.0,5.0,East of England,Bedfordshire,Bedfordshire store,2012.0,2489.0,263.0,5834.0,3872.0
...,...,...,...,...,...,...,...,...,...,...
12103,2020.0,8.0,Wales,Wrexham,Wrexham store,2012.0,2553.0,218.0,7478.0,4448.0
12104,2020.0,9.0,Wales,Wrexham,Wrexham store,2012.0,2914.0,394.0,7630.0,4900.0
12105,2020.0,10.0,Wales,Wrexham,Wrexham store,2012.0,2790.0,205.0,2561.0,3267.0
12106,2020.0,11.0,Wales,Wrexham,Wrexham store,2012.0,2298.0,258.0,9139.0,5813.0
12107,2020.0,12.0,Wales,Wrexham,Wrexham store,2012.0,3332.0,366.0,3580.0,4100.0

In [5]:
# Expenses - Addition of a total expenses column ready for the profitability calculation needed 
branch_expenses_df['total_expenses'] = branch_expenses_df.apply(lambda row: row['operational_cost'] + row['staff_bonuses'] + row['misc_expenses']  + row['waste_cost'], axis=1)
branch_expenses_df

,year,month,region,county,branch_name,established_on,operational_cost,staff_bonuses,misc_expenses,waste_cost,total_expenses
0,2012.0,1.0,East of England,Bedfordshire,Bedfordshire store,2012.0,2785.0,232.0,7793.0,4729.0,15539.0
1,2012.0,2.0,East of England,Bedfordshire,Bedfordshire store,2012.0,2058.0,260.0,3559.0,3539.0,9416.0
2,2012.0,3.0,East of England,Bedfordshire,Bedfordshire store,2012.0,2222.0,319.0,7320.0,2809.0,12670.0
3,2012.0,4.0,East of England,Bedfordshire,Bedfordshire store,2012.0,2324.0,271.0,3352.0,3704.0,9651.0
4,2012.0,5.0,East of England,Bedfordshire,Bedfordshire store,2012.0,2489.0,263.0,5834.0,3872.0,12458.0
...,...,...,...,...,...,...,...,...,...,...,...
12103,2020.0,8.0,Wales,Wrexham,Wrexham store,2012.0,2553.0,218.0,7478.0,4448.0,14697.0
12104,2020.0,9.0,Wales,Wrexham,Wrexham store,2012.0,2914.0,394.0,7630.0,4900.0,15838.0
12105,2020.0,10.0,Wales,Wrexham,Wrexham store,2012.0,2790.0,205.0,2561.0,3267.0,8823.0
12106,2020.0,11.0,Wales,Wrexham,Wrexham store,2012.0,2298.0,258.0,9139.0,5813.0,17508.0
12107,2020.0,12.0,Wales,Wrexham,Wrexham store,2012.0,3332.0,366.0,3580.0,4100.0,11378.0

In [6]:
# Creation of the preferred header terms see terminology.txt for more information 
new_header = ['year', 'month', 'day', 'hour','product' ,'quantity', 'amount_in_gbp']

In [7]:
# Function to scrape filename, alter to remove dots, underscore to eventually form column name, tested with one filename. 
def get_storename(filename_with_ext):
    filepaths = filename_with_ext.split('.')
    filename = filepaths[-2]
    filename = filename[10: ]
    result = filename.replace('_', ' ')
    return result

get_storename('2012-2020_Shepway_store.csv')

'Shepway store'

In [14]:
#Iteration through list in directory and creation of new formatted header using list of pre-defined column header titles called new header

os.chdir('C:\\Users\\Public\Documents\\MLW-Code\\Dash-Project') # print(os.getcwd()) used to check you are in the right directory, note \\ needed to not be confused for escape command

csv_dfs = [] # create [] to store the end result
for f in os.listdir(): 
    if f.endswith('csv'):
        dataframe_with_new_header = pd.read_csv(f, header=0, names=new_header) #This adds a header with consistent, specified titles not the existing header
        dataframe_with_new_header['branch_name']=get_storename(f) #This adds branch_name to the data and runs function to alter existing filename insert into this column
        csv_dfs.append(dataframe_with_new_header) # This adds the above data into the empty Python List called csv_dfs
        # print(f)
        # s = get_storename(f)
        # print(csv_dfs) # allows initial files to be tested to debug 
        # print(s, ' \n\n')
all_csv_files = pd.concat(csv_dfs) # the end concatenation of all csv files  
all_csv_files

,year,month,day,hour,product,quantity,amount_in_gbp,branch_name
0,2010,1,9,0,chocolate twist,182,145.6,Bassetlaw outlet
1,2010,1,9,0,plastic sunshades,98,313.6,Bassetlaw outlet
2,2010,1,9,0,lg washing machine,151,12080.0,Bassetlaw outlet
3,2010,1,9,0,fresh whole chicken,230,257.6,Bassetlaw outlet
4,2010,1,9,0,free range large eggs x12,150,180.0,Bassetlaw outlet
...,...,...,...,...,...,...,...,...
99032,2013,12,24,23,Lemon,156,37.44,Bassetlaw outlet
99033,2013,12,24,23,apple macbook air mid 2009,226,343520.0,Bassetlaw outlet
99034,2013,12,24,23,Organic mILK,234,280.80000000000007,Bassetlaw outlet
99035,2013,12,24,23,British baking potatoes loose,76,50.464000000000006,Bassetlaw outlet
99036,2013,12,24,23,hotpoint washing machine,222,14208.0,Bassetlaw outlet

In [15]:
# used regex to remove non-numeric data and keep look of existing data with inplace=True, quantity then transformed into numeric data 

all_csv_files['quantity'].replace(to_replace='[^0-9]+', value='',inplace=True,regex=True)
all_csv_files["quantity"] = pd.to_numeric(all_csv_files["quantity"], errors='ignore')
all_csv_files

,year,month,day,hour,product,quantity,amount_in_gbp,branch_name
0,2010,1,9,0,chocolate twist,182.0,145.6,Bassetlaw outlet
1,2010,1,9,0,plastic sunshades,98.0,313.6,Bassetlaw outlet
2,2010,1,9,0,lg washing machine,151.0,12080.0,Bassetlaw outlet
3,2010,1,9,0,fresh whole chicken,230.0,257.6,Bassetlaw outlet
4,2010,1,9,0,free range large eggs x12,150.0,180.0,Bassetlaw outlet
...,...,...,...,...,...,...,...,...
99032,2013,12,24,23,Lemon,156.0,37.44,Bassetlaw outlet
99033,2013,12,24,23,apple macbook air mid 2009,226.0,343520.0,Bassetlaw outlet
99034,2013,12,24,23,Organic mILK,234.0,280.80000000000007,Bassetlaw outlet
99035,2013,12,24,23,British baking potatoes loose,76.0,50.464000000000006,Bassetlaw outlet
99036,2013,12,24,23,hotpoint washing machine,222.0,14208.0,Bassetlaw outlet

In [16]:
# the same required for the amount_in_gbp column 
# producing results such as # all_csv_files['amount_in_gbp'].replace('23.04000000d0000006', 0, inplace=True)
# all_csv_files['amount_in_gbp'].replace('5.279c999999999999', 0, inplace=True)
# all_csv_files['amount_in_gbp'].replace('382c52.8', 0, inplace=True)

all_csv_files['amount_in_gbp'].replace(to_replace='[^0-9]+', value=0 ,inplace=True,regex=True)
all_csv_files["amount_in_gbp"] = pd.to_numeric(all_csv_files["amount_in_gbp"], errors='ignore')

In [17]:
# As initially the amount_in_gbp was converted to be a float64 astype used to convert with numpy. Cannot convert non-finite values (NA or inf) hence used fillna to fix 
all_csv_files['quantity'] = all_csv_files['quantity'].fillna(0).astype(np.int64)
all_csv_files.dtypes

year               int64
month              int64
day                int64
hour               int64
product           object
quantity           int64
amount_in_gbp    float64
branch_name       object
dtype: object

In [18]:
#iterating through each file in the directory ending in json to add the new header and use function get_storename to use part of filename as column branch_name

os.chdir('C:\\Users\\Public\Documents\\MLW-Code\\Dash-Project') # print(os.getcwd()) used to check you are in the right directory, note \\ needed to not be confused for escape command

json_dfs = [] # create [] to store the end result
for f in os.listdir():   #iterating through f for file within the directory list for all the files ending with json
    if f.endswith('json'):
        dataframe_with_new_header = pd.read_json(f) #This adds a header with consistent, specified titles not the existing header
        dataframe_with_new_header.set_axis(new_header, axis=1, inplace=True)
        dataframe_with_new_header['branch_name']=get_storename(f) #This adds branch_name to the data and runs function to alter existing filename insert into this column
        json_dfs.append(dataframe_with_new_header) # This adds the above data into the empty Python List called csv_dfs
        print(json_dfs) # allows initial files to be tested to debug 

all_json_files = pd.concat(json_dfs)
all_json_files

[         year  month  day  hour                 product quantity  \
0        2010      1    1     0    Sweet potatoes loose      160
1        2010      1    1     0     Plain Greek yoghurt       59
2        2010      1    1     0        sea bass fillets      163
3        2010      1    1     0           grey cardigan      222
4        2010      1    1     0  british parsnips loose      144
...       ...    ...  ...   ...                     ...      ...
1100254  2020     12   18    23       semi skimmed milk      212
1100255  2020     12   18    23         almond croisant      119
1100256  2020     12   18    23             pokemon red      106
1100257  2020     12   18    23          classic bowtie      110
1100258  2020     12   18    23              beef mince       65

         amount_in_gbp       branch_name
0              140.800  Ceredigion store
1               47.200  Ceredigion store
2              365.120  Ceredigion store
3             3552.000  Ceredigion store
4               96.768  Ceredigion store
...                ...               ...
1100254        360.400  Ceredigion store
1100255        119.000  Ceredigion store
1100256       1166.000  Ceredigion store
1100257       2640.000  Ceredigion store
1100258        195.000  Ceredigion store

[1100259 rows x 8 columns]]
[         year  month  day  hour                 product quantity  \
0        2010      1    1     0    Sweet potatoes loose      160
1        2010      1    1     0     Plain Greek yoghurt       59
2        2010      1    1     0        sea bass fillets      163
3        2010      1    1     0           grey cardigan      222
4        2010      1    1     0  british parsnips loose      144
...       ...    ...  ...   ...                     ...      ...
1100254  2020     12   18    23       semi skimmed milk      212
1100255  2020     12   18    23         almond croisant      119
1100256  2020     12   18    23             pokemon red      106
1100257  2020     12   18    23          classic bowtie      110
1100258  2020     12   18    23              beef mince       65

         amount_in_gbp       branch_name
0              140.800  Ceredigion store
1               47.200  Ceredigion store
2              365.120  Ceredigion store
3             3552.000  Ceredigion store
4               96.768  Ceredigion store
...                ...               ...
1100254        360.400  Ceredigion store
1100255        119.000  Ceredigion store
1100256       1166.000  Ceredigion store
1100257       2640.000  Ceredigion store
1100258        195.000  Ceredigion store

[1100259 rows x 8 columns],          year  month  day  hour                  product quantity  \
0        2010      1   14     0        Blueberry yoghurt      158
1        2010      1   14     0      Spring onions bunch      187
2        2010      1   14     0             oxford shirt       34
3        2010      1   14     0         custard doughnut      203
4        2010      1   14     0              Almond milk       70
...       ...    ...  ...   ...                      ...      ...
1105541  2020     12    1    23           Brocolli loose      122
1105542  2020     12    1    23  Fairtrade Bananas Loose        3
1105543  2020     12    1    23             macaron - x3      184
1105544  2020     12    1    23          dyson tower fan      206
1105545  2020     12    1    23                     corn       75

         amount_in_gbp     branch_name
0              139.040  Chiltern store
1               55.352  Chiltern store
2              353.600  Chiltern store
3              162.400  Chiltern store
4              106.400  Chiltern store
...                ...             ...
1105541        159.820  Chiltern store
1105542          2.370  Chiltern store
1105543        552.000  Chiltern store
1105544     103000.000  Chiltern store
1105545         60.000  Chiltern store

[1105546 rows x 8 columns]]
[         year  month  day  hour                 product quantity  \
0        2010      1    1     0    Sweet potatoes loose      160
1        2010      1    1     0     Plain Greek yoghurt       59
2        2010      1    1     0        sea bass fillets      163
3        2010      1    1     0           grey cardigan      222
4        2010      1    1     0  british parsnips loose      144
...       ...    ...  ...   ...                     ...      ...
1100254  2020     12   18    23       semi skimmed milk      212
1100255  2020     12   18    23         almond croisant      119
1100256  2020     12   18    23             pokemon red      106
1100257  2020     12   18    23          classic bowtie      110
1100258  2020     12   18    23              beef mince       65

         amount_in_gbp       branch_name
0              140.800  Ceredigion store
1               47.200  Ceredigion store
2              365.120  Ceredigion store
3             3552.000  Ceredigion store
4               96.768  Ceredigion store
...                ...               ...
1100254        360.400  Ceredigion store
1100255        119.000  Ceredigion store
1100256       1166.000  Ceredigion store
1100257       2640.000  Ceredigion store
1100258        195.000  Ceredigion store

[1100259 rows x 8 columns],          year  month  day  hour                  product quantity  \
0        2010      1   14     0        Blueberry yoghurt      158
1        2010      1   14     0      Spring onions bunch      187
2        2010      1   14     0             oxford shirt       34
3        2010      1   14     0         custard doughnut      203
4        2010      1   14     0              Almond milk       70
...       ...    ...  ...   ...                      ...      ...
1105541  2020     12    1    23           Brocolli loose      122
1105542  2020     12    1    23  Fairtrade Bananas Loose        3
1105543  2020     12    1    23             macaron - x3      184
1105544  2020     12    1    23          dyson tower fan      206
1105545  2020     12    1    23                     corn       75

         amount_in_gbp     branch_name
0              139.040  Chiltern store
1               55.352  Chiltern store
2              353.600  Chiltern store
3              162.400  Chiltern store
4              106.400  Chiltern store
...                ...             ...
1105541        159.820  Chiltern store
1105542          2.370  Chiltern store
1105543        552.000  Chiltern store
1105544     103000.000  Chiltern store
1105545         60.000  Chiltern store

[1105546 rows x 8 columns],          year  month  day  hour                    product quantity  \
0        2010      1   24     0          large king prawns      171
1        2010      1   24     0        Plain Greek yoghurt       23
2        2010      1   24     0   hotpoint washing machine       72
3        2010      1   24     0                denim jeams       30
4        2010      1   24     0               denim jacket       51
...       ...    ...  ...   ...                        ...      ...
1108154  2020     12    1    23                 silk scarf      173
1108155  2020     12    1    23               oxford shirt       53
1108156  2020     12    1    23                goat cheese       85
1108157  2020     12    1    23           chicken sausages      191
1108158  2020     12    1    23  organic raspberry yoghurt       98

         amount_in_gbp    branch_name
0                547.2  Dorset outlet
1                 18.4  Dorset outlet
2               4608.0  Dorset outlet
3                720.0  Dorset outlet
4               1999.2  Dorset outlet
...                ...            ...
1108154        23182.0  Dorset outlet
1108155          689.0  Dorset outlet
1108156          153.0  Dorset outlet
1108157          382.0  Dorset outlet
1108158          137.2  Dorset outlet

[1108159 rows x 8 columns]]
[         year  month  day  hour                 product quantity  \
0        2010      1    1     0    Sweet potatoes loose      160
1        2010      1    1     0     Plain Greek yoghurt       59
2        2010      1    1     0        sea bass fillets      163
3        2010      1    1     0           grey cardigan      222
4        2010      1    1     0  british parsnips loose      144
...       ...    ...  ...   ...                     ...      ...
1100254  2020     12   18    23       semi skimmed milk      212
1100255  2020     12   18    23         almond croisant      119
1100256  2020     12   18    23             pokemon red      106
1100257  2020     12   18    23          classic bowtie      110
1100258  2020     12   18    23              beef mince       65

         amount_in_gbp       branch_name
0              140.800  Ceredigion store
1               47.200  Ceredigion store
2              365.120  Ceredigion store
3             3552.000  Ceredigion store
4               96.768  Ceredigion store
...                ...               ...
1100254        360.400  Ceredigion store
1100255        119.000  Ceredigion store
1100256       1166.000  Ceredigion store
1100257       2640.000  Ceredigion store
1100258        195.000  Ceredigion store

[1100259 rows x 8 columns],          year  month  day  hour                  product quantity  \
0        2010      1   14     0        Blueberry yoghurt      158
1        2010      1   14     0      Spring onions bunch      187
2        2010      1   14     0             oxford shirt       34
3        2010      1   14     0         custard doughnut      203
4        2010      1   14     0              Almond milk       70
...       ...    ...  ...   ...                      ...      ...
1105541  2020     12    1    23           Brocolli loose      122
1105542  2020     12    1    23  Fairtrade Bananas Loose        3
1105543  2020     12    1    23             macaron - x3      184
1105544  2020     12    1    23          dyson tower fan      206
1105545  2020     12    1    23                     corn       75

         amount_in_gbp     branch_name
0              139.040  Chiltern store
1               55.352  Chiltern store
2              353.600  Chiltern store
3              162.400  Chiltern store
4              106.400  Chiltern store
...                ...             ...
1105541        159.820  Chiltern store
1105542          2.370  Chiltern store
1105543        552.000  Chiltern store
1105544     103000.000  Chiltern store
1105545         60.000  Chiltern store

[1105546 rows x 8 columns],          year  month  day  hour                    product quantity  \
0        2010      1   24     0          large king prawns      171
1        2010      1   24     0        Plain Greek yoghurt       23
2        2010      1   24     0   hotpoint washing machine       72
3        2010      1   24     0                denim jeams       30
4        2010      1   24     0               denim jacket       51
...       ...    ...  ...   ...                        ...      ...
1108154  2020     12    1    23                 silk scarf      173
1108155  2020     12    1    23               oxford shirt       53
1108156  2020     12    1    23                goat cheese       85
1108157  2020     12    1    23           chicken sausages      191
1108158  2020     12    1    23  organic raspberry yoghurt       98

         amount_in_gbp    branch_name
0                547.2  Dorset outlet
1                 18.4  Dorset outlet
2               4608.0  Dorset outlet
3                720.0  Dorset outlet
4               1999.2  Dorset outlet
...                ...            ...
1108154        23182.0  Dorset outlet
1108155          689.0  Dorset outlet
1108156          153.0  Dorset outlet
1108157          382.0  Dorset outlet
1108158          137.2  Dorset outlet

[1108159 rows x 8 columns],          year  month  day  hour                              product quantity  \
0        2010      1   23     0                          white shirt      107
1        2010      1   23     0                             flapjack       61
2        2010      1   23     0                             Soy Milk       45
3        2010      1   23     0                             flapjack      155
4        2010      1   23     0                      dyson tower fan      151
...       ...    ...  ...   ...                                  ...      ...
1119833  2020     12   27    23                   fresh turkey steak      172
1119834  2020     12   27    23                               celery      205
1119835  2020     12   27    23                         skimmed milk      108
1119836  2020     12   27    23  british fresh chicken thigh fillets       39
1119837  2020     12   27    23                    pain au chocolate      209

         amount_in_gbp            branch_name
0              20030.4  Epsom and Ewell store
1                 48.8  Epsom and Ewell store
2                 68.4  Epsom and Ewell store
3                124.0  Epsom and Ewell store
4              60400.0  Epsom and Ewell store
...                ...                    ...
1119833          258.0  Epsom and Ewell store
1119834           86.1  Epsom and Ewell store
1119835          205.2  Epsom and Ewell store
1119836           93.6  Epsom and Ewell store
1119837          125.4  Epsom and Ewell store

[1119838 rows x 8 columns]]
[         year  month  day  hour                 product quantity  \
0        2010      1    1     0    Sweet potatoes loose      160
1        2010      1    1     0     Plain Greek yoghurt       59
2        2010      1    1     0        sea bass fillets      163
3        2010      1    1     0           grey cardigan      222
4        2010      1    1     0  british parsnips loose      144
...       ...    ...  ...   ...                     ...      ...
1100254  2020     12   18    23       semi skimmed milk      212
1100255  2020     12   18    23         almond croisant      119
1100256  2020     12   18    23             pokemon red      106
1100257  2020     12   18    23          classic bowtie      110
1100258  2020     12   18    23              beef mince       65

         amount_in_gbp       branch_name
0              140.800  Ceredigion store
1               47.200  Ceredigion store
2              365.120  Ceredigion store
3             3552.000  Ceredigion store
4               96.768  Ceredigion store
...                ...               ...
1100254        360.400  Ceredigion store
1100255        119.000  Ceredigion store
1100256       1166.000  Ceredigion store
1100257       2640.000  Ceredigion store
1100258        195.000  Ceredigion store

[1100259 rows x 8 columns],          year  month  day  hour                  product quantity  \
0        2010      1   14     0        Blueberry yoghurt      158
1        2010      1   14     0      Spring onions bunch      187
2        2010      1   14     0             oxford shirt       34
3        2010      1   14     0         custard doughnut      203
4        2010      1   14     0              Almond milk       70
...       ...    ...  ...   ...                      ...      ...
1105541  2020     12    1    23           Brocolli loose      122
1105542  2020     12    1    23  Fairtrade Bananas Loose        3
1105543  2020     12    1    23             macaron - x3      184
1105544  2020     12    1    23          dyson tower fan      206
1105545  2020     12    1    23                     corn       75

         amount_in_gbp     branch_name
0              139.040  Chiltern store
1               55.352  Chiltern store
2              353.600  Chiltern store
3              162.400  Chiltern store
4              106.400  Chiltern store
...                ...             ...
1105541        159.820  Chiltern store
1105542          2.370  Chiltern store
1105543        552.000  Chiltern store
1105544     103000.000  Chiltern store
1105545         60.000  Chiltern store

[1105546 rows x 8 columns],          year  month  day  hour                    product quantity  \
0        2010      1   24     0          large king prawns      171
1        2010      1   24     0        Plain Greek yoghurt       23
2        2010      1   24     0   hotpoint washing machine       72
3        2010      1   24     0                denim jeams       30
4        2010      1   24     0               denim jacket       51
...       ...    ...  ...   ...                        ...      ...
1108154  2020     12    1    23                 silk scarf      173
1108155  2020     12    1    23               oxford shirt       53
1108156  2020     12    1    23                goat cheese       85
1108157  2020     12    1    23           chicken sausages      191
1108158  2020     12    1    23  organic raspberry yoghurt       98

         amount_in_gbp    branch_name
0                547.2  Dorset outlet
1                 18.4  Dorset outlet
2               4608.0  Dorset outlet
3                720.0  Dorset outlet
4               1999.2  Dorset outlet
...                ...            ...
1108154        23182.0  Dorset outlet
1108155          689.0  Dorset outlet
1108156          153.0  Dorset outlet
1108157          382.0  Dorset outlet
1108158          137.2  Dorset outlet

[1108159 rows x 8 columns],          year  month  day  hour                              product quantity  \
0        2010      1   23     0                          white shirt      107
1        2010      1   23     0                             flapjack       61
2        2010      1   23     0                             Soy Milk       45
3        2010      1   23     0                             flapjack      155
4        2010      1   23     0                      dyson tower fan      151
...       ...    ...  ...   ...                                  ...      ...
1119833  2020     12   27    23                   fresh turkey steak      172
1119834  2020     12   27    23                               celery      205
1119835  2020     12   27    23                         skimmed milk      108
1119836  2020     12   27    23  british fresh chicken thigh fillets       39
1119837  2020     12   27    23                    pain au chocolate      209

         amount_in_gbp            branch_name
0              20030.4  Epsom and Ewell store
1                 48.8  Epsom and Ewell store
2                 68.4  Epsom and Ewell store
3                124.0  Epsom and Ewell store
4              60400.0  Epsom and Ewell store
...                ...                    ...
1119833          258.0  Epsom and Ewell store
1119834           86.1  Epsom and Ewell store
1119835          205.2  Epsom and Ewell store
1119836           93.6  Epsom and Ewell store
1119837          125.4  Epsom and Ewell store

[1119838 rows x 8 columns],          year  month  day  hour                 product quantity  \
0        2010      1    5     0             raspberries       66
1        2010      1    5     0    dell inspiron laptop      224
2        2010      1    5     0          Brocolli loose       70
3        2010      1    5     0  Slightly salted butter       26
4        2010      1    5     0           baby potatoes       74
...       ...    ...  ...   ...                     ...      ...
1118147  2020     12   15    23            grey blazers      196
1118148  2020     12   15    23         unsalted butter       88
1118149  2020     12   15    23       semi skimmed milk      167
1118150  2020     12   15    23               Oats Milk       80
1118151  2020     12   15    23                   Lemon       10

         amount_in_gbp            branch_name
0               118.80  Greater London branch
1            295680.00  Greater London branch
2                73.36  Greater London branch
3                20.80  Greater London branch
4                53.28  Greater London branch
...                ...                    ...
1118147        6664.00  Greater London branch
1118148          88.00  Greater London branch
1118149         283.90  Greater London branch
1118150         152.00  Greater London branch
1118151           3.00  Greater London branch


,year,month,day,hour,product,quantity,amount_in_gbp,branch_name
0,2010,1,1,0,Sweet potatoes loose,160,140.800,Ceredigion store
1,2010,1,1,0,Plain Greek yoghurt,59,47.200,Ceredigion store
2,2010,1,1,0,sea bass fillets,163,365.120,Ceredigion store
3,2010,1,1,0,grey cardigan,222,3552.000,Ceredigion store
4,2010,1,1,0,british parsnips loose,144,96.768,Ceredigion store
...,...,...,...,...,...,...,...,...
916091,2020,12,25,23,fresh whole chicken,45,63.000,York outlet
916092,2020,12,25,23,oxford shirt,35,455.000,York outlet
916093,2020,12,25,23,grey blazers,143,4862.000,York outlet
916094,2020,12,25,23,gaming mouse,194,14550.000,York outlet
916095,2020,12,25,23,gameboy color,172,24940.000,York outlet

In [19]:
# Similar to csv action to be able to remove non-numeric data to allow change in datatype from object to numeric values 
all_json_files['quantity'].replace(to_replace='[^0-9]+', value='',inplace=True,regex=True)
all_json_files["quantity"] = pd.to_numeric(all_json_files["quantity"], errors='ignore')
all_json_files

,year,month,day,hour,product,quantity,amount_in_gbp,branch_name
0,2010,1,1,0,Sweet potatoes loose,160.0,140.800,Ceredigion store
1,2010,1,1,0,Plain Greek yoghurt,59.0,47.200,Ceredigion store
2,2010,1,1,0,sea bass fillets,163.0,365.120,Ceredigion store
3,2010,1,1,0,grey cardigan,222.0,3552.000,Ceredigion store
4,2010,1,1,0,british parsnips loose,144.0,96.768,Ceredigion store
...,...,...,...,...,...,...,...,...
916091,2020,12,25,23,fresh whole chicken,45.0,63.000,York outlet
916092,2020,12,25,23,oxford shirt,35.0,455.000,York outlet
916093,2020,12,25,23,grey blazers,143.0,4862.000,York outlet
916094,2020,12,25,23,gaming mouse,194.0,14550.000,York outlet
916095,2020,12,25,23,gameboy color,172.0,24940.000,York outlet

In [20]:
# Change from float to int64 for quantity
all_json_files['quantity'] = all_json_files['quantity'].fillna(0).astype(np.int64)

In [21]:
# Concatenation of CSV and Json branch data to form all branches irrespective of data extension type
combined_csv_json = [all_json_files, all_csv_files]
all_branches = pd.concat(combined_csv_json)
all_branches

,year,month,day,hour,product,quantity,amount_in_gbp,branch_name
0,2010,1,1,0,Sweet potatoes loose,160,140.800,Ceredigion store
1,2010,1,1,0,Plain Greek yoghurt,59,47.200,Ceredigion store
2,2010,1,1,0,sea bass fillets,163,365.120,Ceredigion store
3,2010,1,1,0,grey cardigan,222,3552.000,Ceredigion store
4,2010,1,1,0,british parsnips loose,144,96.768,Ceredigion store
...,...,...,...,...,...,...,...,...
99032,2013,12,24,23,Lemon,156,0.000,Bassetlaw outlet
99033,2013,12,24,23,apple macbook air mid 2009,226,0.000,Bassetlaw outlet
99034,2013,12,24,23,Organic mILK,234,0.000,Bassetlaw outlet
99035,2013,12,24,23,British baking potatoes loose,76,0.000,Bassetlaw outlet
99036,2013,12,24,23,hotpoint washing machine,222,0.000,Bassetlaw outlet

In [22]:
# merge of all branch data with the products list which contains product categories 
all_branches_products = all_branches.merge(productslist_df, how='left')
all_branches_products

,year,month,day,hour,product,quantity,amount_in_gbp,branch_name,manufactuter,category,price
0,2010,1,1,0,Sweet potatoes loose,160,140.800,Ceredigion store,sainsburys,fruits & vegetables,1.10
1,2010,1,1,0,Plain Greek yoghurt,59,47.200,Ceredigion store,sam and catherine,dairy,1.00
2,2010,1,1,0,sea bass fillets,163,365.120,Ceredigion store,farmer jack,meat & fish,2.80
3,2010,1,1,0,grey cardigan,222,3552.000,Ceredigion store,in-house,clothing,20.00
4,2010,1,1,0,british parsnips loose,144,96.768,Ceredigion store,sainsburys,fruits & vegetables,0.84
...,...,...,...,...,...,...,...,...,...,...,...
88774170,2013,12,24,23,Lemon,156,0.000,Bassetlaw outlet,sainsburys,fruits & vegetables,0.30
88774171,2013,12,24,23,apple macbook air mid 2009,226,0.000,Bassetlaw outlet,apple,computing,1900.00
88774172,2013,12,24,23,Organic mILK,234,0.000,Bassetlaw outlet,sam and catherine,dairy,1.50
88774173,2013,12,24,23,British baking potatoes loose,76,0.000,Bassetlaw outlet,sainsburys,fruits & vegetables,0.83
88774174,2013,12,24,23,hotpoint washing machine,222,0.000,Bassetlaw outlet,hotpoint,appliances,80.00

In [23]:
# replacing fruits & vegetable to fruits & vegetables 

all_branches_products['category'].replace('fruits & vegetable', 'fruits & vegetables', inplace=True)
all_branches_products

,year,month,day,hour,product,quantity,amount_in_gbp,branch_name,manufactuter,category,price
0,2010,1,1,0,Sweet potatoes loose,160,140.800,Ceredigion store,sainsburys,fruits & vegetables,1.10
1,2010,1,1,0,Plain Greek yoghurt,59,47.200,Ceredigion store,sam and catherine,dairy,1.00
2,2010,1,1,0,sea bass fillets,163,365.120,Ceredigion store,farmer jack,meat & fish,2.80
3,2010,1,1,0,grey cardigan,222,3552.000,Ceredigion store,in-house,clothing,20.00
4,2010,1,1,0,british parsnips loose,144,96.768,Ceredigion store,sainsburys,fruits & vegetables,0.84
...,...,...,...,...,...,...,...,...,...,...,...
88774170,2013,12,24,23,Lemon,156,0.000,Bassetlaw outlet,sainsburys,fruits & vegetables,0.30
88774171,2013,12,24,23,apple macbook air mid 2009,226,0.000,Bassetlaw outlet,apple,computing,1900.00
88774172,2013,12,24,23,Organic mILK,234,0.000,Bassetlaw outlet,sam and catherine,dairy,1.50
88774173,2013,12,24,23,British baking potatoes loose,76,0.000,Bassetlaw outlet,sainsburys,fruits & vegetables,0.83
88774174,2013,12,24,23,hotpoint washing machine,222,0.000,Bassetlaw outlet,hotpoint,appliances,80.00

In [24]:
#A left merge with region information and branch expenses 
# region_expenses = region_df.merge(branch_expenses_df, how='left')
# region_expenses

In [25]:
# merge of all branches, region, product and product cat (no expenses)
all_branch_products_region= all_branches_products.merge(region_df,  how='left')
all_branch_products_region

,year,month,day,hour,product,quantity,amount_in_gbp,branch_name,manufactuter,category,price,region,county,established_on
0,2010,1,1,0,Sweet potatoes loose,160,140.800,Ceredigion store,sainsburys,fruits & vegetables,1.10,Wales,Ceredigion,2010.0
1,2010,1,1,0,Plain Greek yoghurt,59,47.200,Ceredigion store,sam and catherine,dairy,1.00,Wales,Ceredigion,2010.0
2,2010,1,1,0,sea bass fillets,163,365.120,Ceredigion store,farmer jack,meat & fish,2.80,Wales,Ceredigion,2010.0
3,2010,1,1,0,grey cardigan,222,3552.000,Ceredigion store,in-house,clothing,20.00,Wales,Ceredigion,2010.0
4,2010,1,1,0,british parsnips loose,144,96.768,Ceredigion store,sainsburys,fruits & vegetables,0.84,Wales,Ceredigion,2010.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104071877,2013,12,24,23,Lemon,156,0.000,Bassetlaw outlet,sainsburys,fruits & vegetables,0.30,East Midlands,Bassetlaw,2010.0
104071878,2013,12,24,23,apple macbook air mid 2009,226,0.000,Bassetlaw outlet,apple,computing,1900.00,East Midlands,Bassetlaw,2010.0
104071879,2013,12,24,23,Organic mILK,234,0.000,Bassetlaw outlet,sam and catherine,dairy,1.50,East Midlands,Bassetlaw,2010.0
104071880,2013,12,24,23,British baking potatoes loose,76,0.000,Bassetlaw outlet,sainsburys,fruits & vegetables,0.83,East Midlands,Bassetlaw,2010.0
104071881,2013,12,24,23,hotpoint washing machine,222,0.000,Bassetlaw outlet,hotpoint,appliances,80.00,East Midlands,Bassetlaw,2010.0

In [26]:
# Access to the summed amount in gbp and quantity for the region 
total_quant_gbp_per_region = all_branch_products_region.groupby(['region' , 'branch_name'])['amount_in_gbp', 'quantity'].sum().reset_index()
total_quant_gbp_per_region

C:\Users\Neal\AppData\Local\Temp/ipykernel_14860/539398914.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  total_quant_gbp_per_region = all_branch_products_region.groupby(['region' , 'branch_name'])['amount_in_gbp', 'quantity'].sum().reset_index()

,region,branch_name,amount_in_gbp,quantity
0,East Midlands,Bassetlaw outlet,1.383844e+10,142635065
1,East Midlands,East Lindsey branch,3.858013e+10,360521916
2,East Midlands,Hinckley and Bosworth branch,1.240685e+10,116837147
3,East Midlands,Lincoln branch,1.383913e+10,131900207
4,East Midlands,Lincolnshire store,1.144899e+10,106384560
...,...,...,...,...
80,Yorkshire and the Humber,North Yorkshire outlet,1.284482e+10,120392702
81,Yorkshire and the Humber,North Yorkshire store,1.384349e+10,130874199
82,Yorkshire and the Humber,Richmondshire outlet,1.380673e+10,130845287
83,Yorkshire and the Humber,Selby branch,1.152987e+10,107504427
84,Yorkshire and the Humber,York outlet,1.151020e+10,107310670

In [27]:
# Addition of performance column for the region 
total_quant_gbp_per_region['performance'] = total_quant_gbp_per_region['amount_in_gbp'] + total_quant_gbp_per_region['quantity']
total_quant_gbp_per_region.sort_values(by=['performance'], ascending=False, inplace=True)
total_quant_gbp_per_region

,region,branch_name,amount_in_gbp,quantity,performance
39,Scotland,Edinburgh City branch,4.649883e+10,429884300,4.692871e+10
1,East Midlands,East Lindsey branch,3.858013e+10,360521916,3.894066e+10
40,Scotland,Falkirk branch,3.761827e+10,353448399,3.797172e+10
13,East of England,East Cambridgeshire outlet,2.782691e+10,265297854,2.809221e+10
78,West Midlands,Warwickshire branch,2.760695e+10,262086398,2.786903e+10
...,...,...,...,...,...
10,East of England,Bedfordshire store,1.142447e+10,105557414,1.153003e+10
75,West Midlands,Rugby branch,1.140690e+10,105432450,1.151233e+10
38,Scotland,East Dunbartonshire branch,1.139136e+10,106319275,1.149768e+10
33,Northern Ireland,Armagh outlet,1.135290e+10,105239104,1.145814e+10
14,East of England,East Hertfordshire branch,1.134462e+10,104757852,1.144938e+10

In [28]:
#For brief. no.3 and no.2 this provides the performance for Region top 10 branches needed for the sales per hour display 
total_quant_gbp_per_region.head(10)

,region,branch_name,amount_in_gbp,quantity,performance
39,Scotland,Edinburgh City branch,4.649883e+10,429884300,4.692871e+10
1,East Midlands,East Lindsey branch,3.858013e+10,360521916,3.894066e+10
40,Scotland,Falkirk branch,3.761827e+10,353448399,3.797172e+10
13,East of England,East Cambridgeshire outlet,2.782691e+10,265297854,2.809221e+10
78,West Midlands,Warwickshire branch,2.760695e+10,262086398,2.786903e+10
17,London,Greater London branch,2.750143e+10,261732992,2.776317e+10
43,Scotland,Orkney store,2.742524e+10,259946388,2.768519e+10
52,South East England,Kent branch,2.727071e+10,258686924,2.752939e+10
62,South West England,West Somerset branch,2.501876e+10,233642606,2.525241e+10
21,London,Islington branch,2.492974e+10,234610612,2.516435e+10

In [29]:
#Next the access to the top ten performance for the County 
# The summed amount in gbp and quantity for the county, the variable all_branches_product_region also includes the county column already
total_quant_gbp_per_county = all_branch_products_region.groupby(['county' , 'branch_name'])['amount_in_gbp', 'quantity'].sum().reset_index()
total_quant_gbp_per_county

C:\Users\Neal\AppData\Local\Temp/ipykernel_14860/638959143.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  total_quant_gbp_per_county = all_branch_products_region.groupby(['county' , 'branch_name'])['amount_in_gbp', 'quantity'].sum().reset_index()

            county            branch_name  amount_in_gbp   quantity
0           Armagh          Armagh outlet   1.135290e+10  105239104
1       Ballymoney       Ballymoney store   1.145031e+10  106169826
2          Bargoed         Bargoed outlet   1.148845e+10  106212042
3            Barry           Barry outlet   1.269032e+10  118919062
4        Bassetlaw       Bassetlaw outlet   1.383844e+10  142635065
..             ...                    ...            ...        ...
80   West Somerset   West Somerset branch   2.501876e+10  233642606
81  Worcestershire  Worcestershire branch   1.155382e+10  107166517
82         Wrexham          Wrexham store   2.241015e+10  208957798
83            Wyre            Wyre branch   1.382131e+10  131095259
84            York            York outlet   1.151020e+10  107310670

[85 rows x 4 columns]

In [30]:
#Addition of the performance column with addition of sales amount in gbp with quantity for the county 
total_quant_gbp_per_county['performance'] = total_quant_gbp_per_county['amount_in_gbp'] + total_quant_gbp_per_county['quantity']
total_quant_gbp_per_county.sort_values(by=['performance'], ascending=False, inplace=True)
total_quant_gbp_per_county

,county,branch_name,amount_in_gbp,quantity,performance
25,Edinburgh City,Edinburgh City branch,4.649883e+10,429884300,4.692871e+10
23,East Lindsey,East Lindsey branch,3.858013e+10,360521916,3.894066e+10
27,Falkirk,Falkirk branch,3.761827e+10,353448399,3.797172e+10
19,East Cambridgeshire,East Cambridgeshire outlet,2.782691e+10,265297854,2.809221e+10
78,Warwickshire,Warwickshire branch,2.760695e+10,262086398,2.786903e+10
...,...,...,...,...,...
6,Bedfordshire,Bedfordshire store,1.142447e+10,105557414,1.153003e+10
65,Rugby,Rugby branch,1.140690e+10,105432450,1.151233e+10
21,East Dunbartonshire,East Dunbartonshire branch,1.139136e+10,106319275,1.149768e+10
0,Armagh,Armagh outlet,1.135290e+10,105239104,1.145814e+10
22,East Hertfordshire,East Hertfordshire branch,1.134462e+10,104757852,1.144938e+10

In [31]:
#Display and test to see the top performance for the county information needed for brief no.3
total_quant_gbp_per_county.head(10)

,county,branch_name,amount_in_gbp,quantity,performance
25,Edinburgh City,Edinburgh City branch,4.649883e+10,429884300,4.692871e+10
23,East Lindsey,East Lindsey branch,3.858013e+10,360521916,3.894066e+10
27,Falkirk,Falkirk branch,3.761827e+10,353448399,3.797172e+10
19,East Cambridgeshire,East Cambridgeshire outlet,2.782691e+10,265297854,2.809221e+10
78,Warwickshire,Warwickshire branch,2.760695e+10,262086398,2.786903e+10
33,Greater London,Greater London branch,2.750143e+10,261732992,2.776317e+10
58,Orkney,Orkney store,2.742524e+10,259946388,2.768519e+10
42,Kent,Kent branch,2.727071e+10,258686924,2.752939e+10
80,West Somerset,West Somerset branch,2.501876e+10,233642606,2.525241e+10
41,Islington,Islington branch,2.492974e+10,234610612,2.516435e+10

In [32]:
# For brief 3 step groupby to take branchname and date parameters of for time column for county  
all_branch_hour_sales = all_branch_products_region.groupby(['branch_name', 'year','month', 'day','hour' ])['amount_in_gbp'].sum().reset_index()
all_branch_hour_sales

          branch_name  year  month  day  hour  amount_in_gbp
0       Armagh outlet  2012      1    2    16   6.807334e+06
1       Armagh outlet  2012      1    7    18   1.603301e+06
2       Armagh outlet  2012      1    9    13   3.229247e+06
3       Armagh outlet  2012      1   10     0   5.724104e+06
4       Armagh outlet  2012      1   11     8   3.626819e+06
...               ...   ...    ...  ...   ...            ...
252473      ry branch  2020     12   23    20   4.209603e+06
252474      ry branch  2020     12   24     7   2.671074e+06
252475      ry branch  2020     12   25    10   7.594257e+06
252476      ry branch  2020     12   27     1   8.071178e+06
252477      ry branch  2020     12   27     3   7.837752e+06

[252478 rows x 6 columns]

In [35]:
# This is a total of gbp per branch_name to ensure there are the same amount of cells for each column 
total_gbp_per_branch = all_branch_products_region.groupby('branch_name')['amount_in_gbp'].sum().reset_index()
total_gbp_per_branch

              branch_name  amount_in_gbp
0           Armagh outlet   1.135290e+10
1        Ballymoney store   1.145031e+10
2          Bargoed outlet   1.148845e+10
3            Barry outlet   1.269032e+10
4        Bassetlaw outlet   1.383844e+10
..                    ...            ...
81  Worcestershire branch   1.155382e+10
82          Wrexham store   2.241015e+10
83            Wyre branch   1.382131e+10
84            York outlet   1.151020e+10
85              ry branch   1.229738e+10

[86 rows x 2 columns]

In [36]:
# Totalling expenses for each branch_name using the same format 
total_expenses_per_branch = branch_expenses_df.groupby('branch_name')['total_expenses'].sum().reset_index()
total_expenses_per_branch

              branch_name  total_expenses
0           Armagh outlet       1423326.0
1        Ballymoney store       1403030.0
2          Bargoed outlet       1381004.0
3            Barry outlet       1573467.0
4        Bassetlaw outlet       1725878.0
..                    ...             ...
81   West Somerset branch       3135299.0
82  Worcestershire branch       1387864.0
83          Wrexham store       2777619.0
84            Wyre branch       1761723.0
85            York outlet       1377660.0

[86 rows x 2 columns]

In [37]:
# merge of gbp and expenses for the 86 rows of data in each 
total_gbp_and_expenses = total_expenses_per_branch.merge(total_gbp_per_branch, how='left')
total_gbp_and_expenses

              branch_name  total_expenses  amount_in_gbp
0           Armagh outlet       1423326.0   1.135290e+10
1        Ballymoney store       1403030.0   1.145031e+10
2          Bargoed outlet       1381004.0   1.148845e+10
3            Barry outlet       1573467.0   1.269032e+10
4        Bassetlaw outlet       1725878.0   1.383844e+10
..                    ...             ...            ...
81   West Somerset branch       3135299.0   2.501876e+10
82  Worcestershire branch       1387864.0   1.155382e+10
83          Wrexham store       2777619.0   2.241015e+10
84            Wyre branch       1761723.0   1.382131e+10
85            York outlet       1377660.0   1.151020e+10

[86 rows x 3 columns]

In [38]:
# For the 4th brief this shows the profitability totals and this sorted by this column, inplace retains the information 
total_gbp_and_expenses['profitability'] = total_gbp_and_expenses['amount_in_gbp'] - total_gbp_and_expenses['total_expenses']
total_gbp_and_expenses.sort_values(by=['profitability'], ascending=False, inplace=True)

In [39]:
# This is a check for top 10 profitability per branch
total_gbp_and_expenses.head(10)

                   branch_name  total_expenses  amount_in_gbp  profitability
25       Edinburgh City branch       2801959.0   4.649883e+10   4.649603e+10
23         East Lindsey branch       4744111.0   3.858013e+10   3.857539e+10
27              Falkirk branch       4657221.0   3.761827e+10   3.761362e+10
19  East Cambridgeshire outlet       3359821.0   2.782691e+10   2.782355e+10
79         Warwickshire branch       3360603.0   2.760695e+10   2.760359e+10
33       Greater London branch       3381814.0   2.750143e+10   2.749805e+10
58                Orkney store       3487968.0   2.742524e+10   2.742175e+10
42                 Kent branch       3423136.0   2.727071e+10   2.726728e+10
81        West Somerset branch       3135299.0   2.501876e+10   2.501563e+10
41            Islington branch       3130817.0   2.492974e+10   2.492661e+10

In [40]:
# Too big a file to run now not needed A merge of the all the branches and products list with region and expenses 
# all_branch_products_region_exp= all_branches_products.merge(region_expenses,  how='left')
# all_branch_products_region_exp

In [41]:
# Now done in a smaller file -- this not needed Calculation of profitability and creation of new column 
 
# all_branch_products_region_exp['profitability']= all_branch_products_region_exp['amount_in_gbp'] -  all_branch_products_region_exp['total_expenses']
# all_branch_products_region_exp

In [42]:
# Fulfilling the brief no.1 to track the most purchased and least purchased products & product categories
# overall, per region and per county (limit to top 5 and least 5)

# Showing the quantity of product categories per region
categories_per_region = all_branch_products_region.groupby(['region', 'category'])['quantity'].sum().sort_values(ascending=False).reset_index()
categories_per_region

                      region             category   quantity
0         South East England          meat & fish  304258593
1         South East England  fruits & vegetables  290400951
2         South East England                dairy  289805366
3                   Scotland          meat & fish  276556248
4         South East England             clothing  275288794
..                       ...                  ...        ...
91  Yorkshire and the Humber            computing   28885294
92          Northern Ireland           appliances   25749711
93          Northern Ireland            computing   22118407
94        North East England           appliances   19514832
95        North East England            computing   16693398

[96 rows x 3 columns]

In [43]:
# Showing the quantity of product categories per county 
categories_per_county = all_branch_products_region.groupby(['county', 'category'])['quantity'].sum().sort_values(ascending=False).reset_index()
categories_per_county

                  county             category  quantity
0         Edinburgh City          meat & fish  72605718
1         Edinburgh City  fruits & vegetables  69467446
2         Edinburgh City                dairy  69150692
3         Edinburgh City             clothing  66037206
4           East Lindsey          meat & fish  61023657
..                   ...                  ...       ...
667         Bedfordshire            computing   5123951
668                Rugby            computing   5115835
669  East Dunbartonshire            computing   5102759
670               Armagh            computing   5097497
671   East Hertfordshire            computing   5081455

[672 rows x 3 columns]

In [46]:
# Showing the quantity of products per region
product_per_region = all_branch_products_region.groupby(['region', 'product'])['quantity'].sum().sort_values(ascending=False).reset_index()
product_per_region

                  region                      product  quantity
0     South East England                 oxford shoes  14619950
1     South East England                   Red pepper  14608216
2     South East England            large king prawns  14599232
3     South East England   apple macbook pro mid 2009  14592690
4     South East England                    aubergine  14581449
...                  ...                          ...       ...
1483  North East England   apple macbook pro mid 2009   2757638
1484  North East England  21 day mature sirlion steak   2756832
1485  North East England                Organic Kefir   2756679
1486  North East England              vanilla yoghurt   2755678
1487  North East England                         corn   2749004

[1488 rows x 3 columns]

In [47]:
# Showing the quantity of products per counties 
product_per_county = all_branch_products_region.groupby(['county', 'product'])['quantity'].sum().sort_values(ascending=False).reset_index()
product_per_county

                    county                        product  quantity
0           Edinburgh City       hotpoint washing machine   3574370
1           Edinburgh City                almond croisant   3545662
2           Edinburgh City                          beans   3537248
3           Edinburgh City                   denim jacket   3527432
4           Edinburgh City                   oxford shoes   3523750
...                    ...                            ...       ...
10411   East Hertfordshire  British baking potatoes loose    819713
10412  East Dunbartonshire         british parsnips loose    819498
10413   East Hertfordshire                 linen trousers    819185
10414         Bedfordshire                   Mixed pepper    817954
10415     West Oxfordshire                      Oats Milk    811012

[10416 rows x 3 columns]

In [58]:
# Brief no.1 creation of product_per_region as csv files 
categories_per_region.to_csv('brief_1_quant_per_prod_cat_per_region.csv')

In [57]:
# Brief no.1 creation of csv file of quantity from highest to lowest for per product category per county
categories_per_county.to_csv('brief_1_quant_per_prod_cat_per_county.csv')

In [56]:
# Brief no.1 Creation of csv with quantity per product per region 
product_per_region.to_csv('brief_1_quantity_per_product_per_region.csv')

In [55]:
# Brief no.1 Creation of csv with quantity per product per county
product_per_county.to_csv('brief_1_quantity_per_product_per_county.csv')

In [48]:
#Brief no.2 performance column for counties also relating to brief 3 in the top 10 display of sales per hour
total_quant_gbp_per_county.to_csv('brief_2_performance_per_county.csv')

In [50]:
#Brief no.2 performance for regions which will relate to brief 3 in the display of sales for top 10 
total_quant_gbp_per_region.to_csv('brief_2_performance_per_region.csv')

In [51]:
#Brief no.3 sales information per hour 
all_branch_hour_sales.to_csv('brief_3_hour_sales_branches.csv')

In [52]:
#Brief no.3 top 10 information for the dropdown
total_quant_gbp_per_county.to_csv('brief_3_performing_per_county.csv')

In [53]:
#Brief no.3 top 10 information for the dropdown
total_quant_gbp_per_region.to_csv('brief_3_performing_per_region.csv')

In [54]:
# Brief no.4 Creation of csv with profitability information per branches
total_gbp_and_expenses.to_csv('brief_4_profitability_per_branch.csv')